<!-- <div class='sidenav'>
  <span (click)='newDoc()'>New Document</span>
  <span [class.selected]='docId === currentDocId' (click)='loadDoc(docId)' *ngFor='let docId of documents | async'>{{ docId }}</span>
</div> -->
<div class="sidenav">
  <div *ngFor="let item of accountData" (click)='chat(item.from)' >
    User {{item.from}}
  </div>
</div>