textarea {
    position: fixed;
    width: calc(100% - 235px);
    height: 50px;
    right: 0;
    top: 0;
    font-size: 18pt;
    padding-top: 20px;
    resize: none;
    border: none;
    padding: 20px  0px  20px  15px;
}
.to {
    color: blue;
    right: 0;
    top: 0;
    font-size: 10pt;
    padding-top: 1px;
    resize: none;
    border: none;
    padding: 1px  0px  1px  235px;
}
.from {
    color: red;
    right: 0;
    top: 0;
    font-size: 10pt;
    padding-top: 1px;
    resize: none;
    border: none;
    padding: 10px  0px  1px  235px;
}