<br>
<br>
<br>

<div [ngClass]="{'from': item.from == user, 'to': item.from != user }" *ngFor="let item of msgs">
    {{item.text}}
  </div>
<textarea [(ngModel)]='message' (keydown.enter)='send()' placeholder='Start typing...'>{{message}}</textarea>
